::-webkit-scrollbar {
	width: 15px;
} 

/*scroll 軌道*/
::-webkit-scrollbar-track {
	background-color: #1B2A3B;
	border-radius: 20px;
} /* the new scrollbar will have a flat appearance with the set background color */
/*滑動條*/
::-webkit-scrollbar-thumb {
	background-color: #F4D03F; 
	border-radius: 20px
} /* this will style the thumb, ignoring the track */
/*scroll 上下按鈕*/
::-webkit-scrollbar-button {
  display: none;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

/*x y 的交匯處*/
::-webkit-scrollbar-corner {
	background-color: black;

} 

body{
	padding: 0;
}
.t-bgColor{
	display:inline-block;
	width: 100%;
    height: calc(100vw / 1.8);
	background:#c3c3c3;
}


.titleGroup{
	position: relative;
	margin: 65px 0 0 0px ;
	text-align: center;
	height: 10%;
}
.nowDateTime{
	position: absolute;	
	/* display:inline-block; */
	/* width: 165px; */
	left: 3vw;
	text-align: left;
}
.nowDone{
	position: absolute;
	/* margin: 0px 0 0 90px; */
	/* display:inline-block; */
	/* width: 165px; */
	text-align: right;
	right: 3vw;
}
.titleGroup  .title{
	font-size: 1.3em;
	color:#9F9F9F;
}
.titleGroup .content{
	font-size: 2.4em;
	color:#FFFFFF;
}
.clockBorder{
	text-align: center;
}
.clockBody{
	position: relative;
	display:inline-block;
	margin: 25px 0 0 0px;
	width: 28vw;
    height: 28vw;
	background: rgba(27, 42, 59, 0.5);
	border:8px solid #1B2A3B;
	border-radius: 28vw;
	color: #F4D03F;
}
.clockBody.break{
	color:#19B5FE;
}
.clockState{
	position: absolute;
	/* text-align: center; */
	/* display:inline-block; */
	width: 100%;
	height:37px;
	/* margin: 2em 0 0 0px; */
	font-size: 2em;
	font-family: Myriad Pro,Myriad Pro;
	top:10%;
}

.countDownArea{
	position: absolute;
	width: 100%;
	/* margin: 1px 0 0 0px; */
	font-size: 7.5em;
	font-family: Myriad Pro,Myriad Pro;
	top: 30%;
}
.clkButtonGroup{
	text-align: center;
	margin-top: 16px
}
.clkBtn{
	display:inline-block;
	vertical-align: top;
	width: 61.47px;
	height:61.47px;
	border-radius: 38px;
	border:5px solid #FFFFFF;
	color: #FFFFFF;
	text-align: center;
}
.clkBtn:hover{
	color:#283645;
	background-color: #FFF;
}
.clkBtn:active{
	transform: scale(.9);
}
/*.clkBtn .icon{
	 margin-top: 9px;
}*/
.clkBtn.startBtn{
	width: 100px;
	height:100px;
	border-radius: 70px;
	border:8px solid #FFFFFF;
	margin:0 23.53px 0 23.53px;
}

.featuresArea{
	vertical-align: top;
	background:#33404e;
	display:inline-block;
	/* width:60%; */
	height: 100%;
}


.menuItem:first-child{
	margin:71px 0 0 0;
}
.menuItem{
	text-align: center;
	margin:27px 0 0 0;
}
.menuIcon{
	display:inline-block;
	width:47.77px;
	height:47.77px;
	color:#FFF;
	font-size: 3em;
}
.menuIcon.active{
	color:#F4D03F;
}
.menuIcon2{
	display:inline-block;
	width:47.77px;
	height:47.77px;
	font-size: 3em;
	background: #FFF;
}
.menuIcon2.active{
	background:#F4D03F;
}
.menu-subject{
	-webkit-mask: url(image/outline-subject-24px.svg);
	mask: url(image/outline-subject-24px.svg);
}
.menu-insert_chart{
	-webkit-mask: url(image/outline-insert_chart-24px.svg);
	mask: url(image/outline-insert_chart-24px.svg);
}
.menu-free_breakfast{
	-webkit-mask: url(image/outline-free_breakfast-24px.svg);
	mask: url(image/outline-free_breakfast-24px.svg);
}
.menu-062_Redo_183191{
	-webkit-mask: url(image/iconfinder_062_Redo_183191.svg);
	mask: url(image/iconfinder_062_Redo_183191.svg);
}
.menu-settings{
	-webkit-mask: url(image/outline-settings-24px.svg);
	mask: url(image/outline-settings-24px.svg);
}
.Page{
	position: relative;
}
.Page > .toolbar{
	position: relative;
	height: 50px;
	padding: 15px 5px;
}
.btnAddTask{
	display: inline-block;
	border-radius: 30px;
	background: #F4D03F;
	padding: 10px;
	float: right;
	margin: 0px 10px 0 0 ;
}
.btnAddTask:hover{
	background: #1B2A3B;
	color: #F4D03F;
	border: 1px solid #F4D03F;
}
.btnAddTask:active{
	transform: scale(.8);
}

.btnContent{
	display: inline-block;
}
.btnContent .btnName{
	vertical-align: top;
	display: inline-block;
	font-size: 1.5em;
	line-height: 35px;
}
.btnAddTask .btnContent .btnIcon{
	vertical-align: top;
	-webkit-mask: url(image/outline-add_circle_outline-24px.svg);
	mask: url(image/outline-add_circle_outline-24px.svg);
	display: inline-block;
    width: 36px;
    height: 36px;
    background: #000;
}
.btnAddTask:hover .btnContent .btnIcon{
	background: #F4D03F;
}
.pageContent{
	/* display: inline-block; */
	margin: 15px 0 0 65px
}
.pageContent .title{
	font-size: 30px;
	color: #F4D03F;
}
.list > .content > ul {
	padding: 0px
}
.list > .content > ul > li{
	/* display: inline-block; */
	list-style: none;
	background: #1B2A3B;
	padding: 12px 37px 12px 19.46px;
	margin: 5px 0px;
	/* width: 290px;
	height:16px; */
	color: #FFF;
}
.list > .content{
	overflow: auto;
	height: calc(43vw / 1.8 - 70px);
	display: inline-block;
	width: 90%;

}
.list > .content > .scrollBar{

}

.listContent{
	display: inline-block;
}
.listIcon{
	display: inline-block;
	color: #F4D03F;
	width: 15;
	height:13.04px;
}
.listText{
	vertical-align: top;
	display: inline-block;
}
.doneList .listText{
	color:#858d96;
	text-decoration:line-through;
}
.donListIcon{
	/* vertical-align: top; */
	-webkit-mask: url(image/iconfinder_check_293662.svg);
	mask: url(image/iconfinder_check_293662.svg);
	display: inline-block;
    width: 15px;
    height: 11px;
    background: #F4D03F;
}

.windAddNewTask{
	display: inline-block;
    width: 382px;
    height: 330px;
    x:705px;
    y:131px;
    border-radius:10px;
    position: absolute;
    background: #1B2A3B;
    z-index: 9;
}
.windAddNewTask.hidden{
	display: none
}

.win .winTitle{
	display: inline-block;
	margin: 29px 0 0 26px;
	width: 271px;
	height:37px;
	color:#F4D03F;
	font-size: 36px;
}
.win .content{
	display: inline-block;
	margin: 28px 0 0 26px;
	width: 331px;
}

.win .content .title{
	font-size: 21px;
	color:#FFFFFF;
}

.win .content .txtContent{
	display: inline-block;
	margin: 8px 0 0 0px;
	width: 300px;
	height: 33px;
	background: #3d4a58;
	border: 0;
	font-size: 21px;
	padding: 8px 15px 8px 16px;
	color:#FFF;
}

.win .footer{
	margin: 16px 0 0 0px;
}

.win .footer .btn{
	display: inline-block;
	width: 140px;
	height: 50px;
	border-radius: 30px;
	font-size:24px;
	text-align: center;
	background: #FFF;
	line-height: 45px;
	vertical-align: top;
}
.win .footer .btn.btnSend{
	background: #F4D03F;
	margin: 16px 0 0 44px;
}

.win .footer .btn.btnCancel{
	margin: 16px 0 0 18px;
}

.numberStatistics{
	margin: 3.5vw 0 0 0;
}
.numberStatistics .column{
	display: inline-block;
	width: 47%;
	height: 200px;
	margin: 0 0 0 10px
}
.numberStatistics .column .title .type{
	font-size: 2.5em;
	color:  #FFFFFF;
}

.numberStatistics .column .title .date{
	font-size: 1.1em;
	color:  #9F9F9F;
	margin: 0 0 0 20px;
}

.numberStatistics .column .content{

	border-radius: 5px;
	background: #1B2A3B;
	margin: 16px 0 0 0;
}
.numberStatistics .column .content .separation
{
	display: inline-block;
    width: 0px;
    height: 3em;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.numberStatistics .column .content .data{
	display: inline-block;
	font-size: 3em;
	color:  #FFFFFF;
	margin: 20px 25.5px 20px 23px
}
.numberStatistics .column .content .list{


}

.numberStatistics .column .content .done{
	color:#F4D03F;
	
}

.numberStatistics .column .data .title{
	font-size: 21px;
	text-align: center;
	color:#9F9F9F;
}

.chartStatistics{
	margin: 2em 0 0 10px ;
	display: inline-block;
	width: 100%;
}
.chartStatistics .nav{
	font-size: 3em;
	color:#FFF;
	height: 70px;
}
.chartStatistics .weekControl{
	display: inline-block;
	/* width: 60%; */
	padding: 10px 0;
	height: 70px;
	vertical-align: top;
}
.chartStatistics .btn{
	position: relative;
	display: inline-block;
	margin: 10px 10px 0 10px;
	width: 30px;
	height: 30px;
}
.chartStatistics .arrow{
	display: inline-block;
	width: 0px;
	height: 0px;
	border: 15px solid;
	vertical-align: top;
	
}
.chartStatistics .arrow.background{
	position: absolute;
	
}
.chartStatistics .btnNext .arrow{
	border-color: transparent transparent transparent #F4D03F ;	
}
.chartStatistics .btnNext .arrow.background{
	border-color: transparent transparent transparent  #33404e;	
	left: -3px;
}

.chartStatistics .btnNext:hover .arrow{
	border-color: transparent transparent transparent #33404e ;	
}
.chartStatistics .btnNext:hover .arrow.background{
	border-color: transparent transparent transparent  #F4D03F;	
	left: -3px;
}
.chartStatistics .btnNext:active{
	transform:scale(.8);
}

.chartStatistics .btnPre .arrow.background{
	border-color: transparent #33404e transparent transparent;	
	left: 3px;
}
.chartStatistics .btnPre .arrow{
	border-color: transparent #F4D03F transparent transparent ;	
}

.chartStatistics .btnPre:hover .arrow.background{
	border-color: transparent #F4D03F transparent transparent;	
	left: 3px;
}
.chartStatistics .btnPre:hover .arrow{
	border-color: transparent #33404e transparent transparent ;	
}

.chartStatistics .btnPre:active{
	transform:scale(.8);
}
.chartStatistics  .weekView{
	color:#FFFFFF;
	font-size: .5em;
	display: inline-block;
	margin-top: 11px;
	vertical-align: top;
}
.chartStatistics > .content{
	border-radius: 5px;
	background: #1B2A3B;
	display: inline-block;
	width: 90%;
	height: 22vw;
	box-shadow: 0 3px 6px #000000;
	margin-top: 16px;
}

.winTimeUp{
	position: absolute;
	display: inline-block;
    width: 382px;
    height: 330px;
    border-radius:10px;
    background: #1B2A3B;
    z-index: 9;
    top:25%;
    left: 25%;
    box-shadow: 1px 1px 5px #000;
}
.winMask.hidden{
	display: none;
}
.winMask{
	position: absolute;
    z-index: 8;
    width: 67%;
    display: inline-block;
    height: 91%;
    background: rgba(115, 115, 115, 0.3);
    top: 0px;
    left: 0px;
}

input[type="radio"]{
	display:none;
}
input[type="radio"] + label{
	color:#FFFFFF;
}
input[type="radio"] + label .radioBorder{
	display: inline-block;
    width: 3vw;
    height: 3vw;
    border: 3px solid #FFF;
    border-radius: 3vw;
    text-align: center;
    vertical-align: middle;
    margin: 5px 5px;
    position: relative;
}

input[type="radio"]:checked + label{
	color:#F4D03F;
}
input[type="radio"]:checked + label .radioBorder{
	border:3px solid #F4D03F;
}
input[type="radio"]:checked + label .radopChecked{
	display: inline-block;
    width: 2vw;
    height: 2vw;
    border: 1px solid #F4D03F;
    border-radius: 2vw;
    background: #F4D03F;
    margin-top: .2em;
}
.settingArea{
	margin: 5px 0 0 10px;
}
.settingArea .title{
	color:#FFF;
	font-size: 3em;
}
.settingArea .content{
	display: inline-block;
	width: 100%;
	/* height: 240px; */
	background: #1B2A3B;
	margin: 12px 0 0 0;
	border-radius: 5px
}
.radioItem{
	display: inline-block;
	width: 30%;
	padding: 5px;
}
.radioItem label{
	font-size: 1.5em;
}